*{
    margin:0px 20px;
    font-family: 'Open Sans', sans-serif;
    
}

.banner{
    margin: 0px 30px;
    background-image: url(../images/banner/banner3.png);
    width: 1600px;
    height: 808px;
    display: block;
    text-align-last: right;

}


.title{
padding: 300px 200px 364px 800px;

}

.banner-title{
    font-size: 50px;
    font-weight: 600;
    text-align:justify;
    color: #FFFFFF;
}
.banner-description{
    font-size: 26px;
    color: #FFFFFF;
    text-align: center;
}

.btn-primary{
    height: 64px;
    color: rgb(51, 157, 206);
    background-color: rgba(245, 248, 237, 0.925);
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    border: 0px;
    padding: 18px 34px;
}
.Failure-year{
    margin-top: 50px;
    
    
}

.image{
    display: flex;
}
.section-titlle{
    padding-top: 250px;
gap: 50px;
font-size: 35px;
padding-bottom: 4px;
}
.section-description{
    font-size: 20px;
    padding-bottom: 4px;
    text-align: center;
}
.list{
    font-size: 15px;
}
.all-icons{
    display: flex;
   gap: 200px;
}
.icons{
    margin-top: 50px;
    margin-bottom: 20px;
}
.icons-header{
    margin-top: 10px;
}
.icons-description{
    margin-top: 10px;
}

.contact{
    margin-top: 100px;
    background-image: url('../images/watch.png');
    width: 1600px;
    height: 300px;
    
}
.contact-head{
    display: block;
    text-align: left;
    justify-content: center;
    padding-top: 150px;
    font-size: 30px;
    
}
.footer{
    display: flex;
    gap: 140px;
    padding-top: 100px;
    background-color: black;
    color: #FFFFFF;
    width: 1600px;
padding-bottom: 0;}
.footer-headline{
    padding-bottom: 10px;
}
.footer-p{
    padding-bottom: 10px;
}
.footer-description{
    padding-bottom: 10px;
}
.padding-des{
    padding-top: 10px;
}
.list{
    text-decoration: none;
}
